body, h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: hsl(233, 47%, 7%);
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  border-radius: .6rem;
  background: hsl(244, 38%, 16%);
  color: white;
  text-align: center;
  overflow: hidden;
}

.image {
  background: hsl(277, 64%, 61%);
}

.image img {
  opacity: .85;
  mix-blend-mode: multiply;
}

.img-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .img-desktop {
    display: block;
    height: 100%;
  }

  .img-mobile {
    display: none;
  }

  .card {
    flex-direction: row-reverse;
    max-width: 76.38%;
    text-align: left;
  }
}

.info {
  padding: 2rem;
}

.info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-weight: 600;
  font-size: 1.7rem;
}

.info h1 span {
  color: hsl(277, 64%, 61%);
}

.desc {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 1rem 0;
  font-size: .9rem;
  line-height: 1.7rem;
  max-width: 95%;
}

.info li p {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .1rem;
  margin-top: .5rem;
}

.info li {
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .info {
    width: 50%;
    padding: 6%;
  }

  .info h1 {
    font-size: 2.5vw;
    margin: 1.5% 0;
  }

  .image {
    width: 50%;
  }

  .desc {
    line-height: 1.75vw;
    font-size: clamp(.8rem, 1.05vw, 999rem);
    padding: 1.1vw 0;
    max-width: 85%;
  }

  .info ul {
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  .info li {
    margin: 1.1vw 0 0;
    padding: 2.8vw 0 0;
  }

  .info h2 {
    font-size: 1.7vw;
    font-size: clamp(1.4rem, 1.7vw, 999rem);
  }

  .info li p {
    font-size: .9vw;
    font-size: clamp(.7rem, .9vw, 999rem);
    margin-top: .5vw;
    font-family: 'Lexend Deca', sans-serif;
  }
}

